.container-coracao {
  background-color: rgb(201, 108, 185);
  height: 100vh;
  text-align: center;
}

h2 {
    color: #fff;
}

.coracao-partido {
    width: 215px;
    margin-top: 13px;
}

.video {
    margin: 30px auto 40px;
}

.text-one {
    color: #fff;
    font-size: 1.1rem;
}

